{{#if user}}
<div class="container-footer">
    <div class="entidades-publicas">
        <a href="https://www.usco.edu.co/" target="_blank">
        <img width="230" src="/img/presidencia.jpg" class="attachment-full size-full lazyautosizes lazyloaded">
        </a>
        <a href="https://www.huila.gov.co/" target="_blank">
        <img width="235" height="150" src="/img/Gobernacion1.jpg" class="attachment-full size-full lazyautosizes lazyloaded">
        </a>
        <a href="https://www.minsalud.gov.co/" target="_blank">
        <img width="235" src="/img/minsalud.png" class="attachment-full size-full lazyautosizes lazyloaded">
        </a>
        <a href="https://www.huila.gov.co/salud/" target="_blank">
        <img width="235" height="150" src="/img/saludhuila1.jpg" class="attachment-full size-full lazyautosizes lazyloaded">
        </a>
        </a>
        <a href="https://www.usco.edu.co/" target="_blank">
        <img width="235" height="150" src="/img/geti1.jpg" class="attachment-full size-full lazyautosizes lazyloaded">
        </a>
    </div>
</div>

{{else}}
<div>
  <footer>
    <div class="text-muted text-center container">
      <img src="/img/LUNIVERSITY.png" class=" rounded-circle mr-0" width="50" alt="" />
    </div>
    <p class="copyright text-muted text-center container">Gupo de Investigación en Electrónica, Telecomunicaciones e
      Informática - GETI
      <br>&copy; Universidad Surcolombiana
    </p>
  </footer>
</div>

{{/if}}