<header class="header">
        <div class="container"> 
            <h5><strong>FUNCIONES DENTRO DE LA PLATAFORMA:</strong></h5>
            <nav class="menu">
                <ol> 
                    <li>
                        <a class="link" href="#deleteInfo">Eliminar registros</a>
                    </li>
                    <li>
                        <a class="link" href="#addUsers">Agregar usuarios</a>
                    </li>
                    <li>
                        <a class="link" href="#seeAllExams">Ver exámenes y resultados</a>
                    </li>
                    <li>
                        <a class="link" href="#seeGraph">Ver estadísticas</a>
                    </li>
                </ol>
            </nav>
        </div>
</header>
<section class="hero">
        <div id="efect" class="container">
            <h1 class="hero-title">
                Manual para <strong>Administradores(as)</strong> <br> dentro de la <strong>plataforma</strong> 
            </h1>
            <img class="hero-image" src="../img/admin.jpg" width="400">
        </div>
</section>

<section class="deleteInfo">
    <div class="container">
        <h2 class="delete-title" id="deleteInfo"><strong>Eliminar registros</strong> </h2>
        <h6 class="delete-p">El usuario con rol de <strong>administrador</strong> en la plataforma, tendrá la capacidad de poder eliminar
            los registros agregados tanto de exámenes pendientes, exámenes realizados, exámenes cancelados,
            resultados de éstos exámenes y también podrá eliminar a usuarios que estén registrados sin 
            importar el rol que se le haya asignado.
        </h6>
    </div>
        <div class="container">
            <article id="efect" class="project">
                <figure class="project-imageContainer">
                    <img class="project-image" src="../img/delete.jpg" alt="medellin" width="500px">
                </figure>
                <div class="project-details">
                    <h3 class="project-title">Vista para exámenes pendientes</h3>
                    <p class="project-description">Como se puede observar en el recuadro rojo, se tiene un botón 
                        llamado 'eliminar', con éste botón es con el que, al presionarlo, se eliminará el registro
                        correspondiente de la base de datos. Este proceso aplica para la vista de exámenes cancelados,
                        exámenes realizados, resultados de exámenes y la vista para los usuarios.
                    </p>
                </div>
            </article>
            <article id="efect" class="project">
                <figure class="project-imageContainer">
                    <img class="project-image" src="../img/deleteconfirm.jpg" alt="medellin" width="500px">
                </figure>
                <div class="project-details">
                    <h3 class="project-title">Mensaje de confirmación</h3>
                    <p class="project-description">Una vez se haga la acción de dar click sobre el botón de 
                        'eliminar' anteriormente indicado, inmediatamente se redireccionará a la página principal de la plataforma, en la cual 
                        en la parte superior aparecerá un mensaje donde se indica que el registro se ha eliminado satisfactoriamente
                        como se muestra en el recuadro de color azul.
                    </p>
                </div>
            </article>
        </div>
    </section>

<section class="addUsers">
    <div class="container">
        <h2 class="addUsers-title" id="addUsers"><strong>Agregar usuarios</strong> </h2>
        <h6 class="addUsers-p">El usuario con rol de <strong>administrador</strong> en la plataforma, tendrá la capacidad de poder agregar
            usuarios permitiéndole asignarles un rol en la plataforma, los cuales pueden ser, paciente, médico, empleado o incluso administrador.
            Todo esto vinculando la mayoría de los datos dispuestos para el formulario dentro de la pestaña
            'Agregar usuario'.
        </h6>
    </div>
        <div class="container">
            <article id="efect" class="project">
                <figure class="project-imageContainer">
                    <img class="project-image" src="../img/add.jpg" alt="medellin" width="500px">
                </figure>
                <div class="project-details">
                    <h3 class="project-title">Pestaña para agregar usuario</h3>
                    <p class="project-description">Al hacer 'click' sobre la pestaña que está en el recuadro en color verde 
                        llamado 'Agregar usuario', se desplegará todo el formulario necesario para añadir un nuevo usuario
                        obteniendo todos sus datos básicos.
                    </p>
                </div>
            </article>
            <article id="efect" class="project">
                <figure class="project-imageContainer">
                    <img class="project-image" src="../img/agg.jpg"  width="500px">
                </figure>
                <div class="project-details">
                    <h3 class="project-title">Crear usuario</h3>
                    <p class="project-description">Una vez se completen todos los datos necesarios para agregar un nuevo usuario,
                        se procede a dar 'click' sobre el botón que está en el recuadro verde llamado agregar, de esta manera,
                        si todos los campos se han llenado correctamente, se estaría agregando un nuevo usuario a la plataforma.
                    </p>
                </div>
            </article>
            <article id="efect" class="project">
                <figure class="project-imageContainer">
                    <img class="project-image" src="../img/addconfirm.png"  width="500px">
                </figure>
                <div class="project-details">
                    <h3 class="project-title">Mensaje de confirmación</h3>
                    <p class="project-description">Una vez se haga la acción de dar click sobre el botón de 
                        'Agregar' anteriormente indicado, inmediatamente se redireccionará a la página principal de la plataforma, en la cual 
                        en la parte superior aparecerá un mensaje donde se indica que el usuario ha sido agregado satisfactoriamente
                        como se muestra en el recuadro de color azul.
                    </p>
                </div>
            </article>
        </div>
    </section>

<section class="seeAllExams">
    <div class="container">
        <h2 class="delete-title" id="seeAllExams"><strong>Ver exámenes y resultados</strong> </h2>
        <h6 class="delete-p">El usuario con rol de <strong>administrador</strong> en la plataforma, tendrá la capacidad de poder visualizar
            los exámenes pendientes, exámenes cancelados, exámenes realizados y poder observar los resultados para éstos exámenes. Para poder
            visualizar lo dicho anteriormente se tendrán dos opciones que se comentan a continuación.
        </h6>
    </div>
        <div class="container">
            <article id="efect" class="project">
                <figure class="project-imageContainer">
                    <img class="project-image" src="../img/seeAllExams.jpg" width="500px">
                </figure>
                <div class="project-details">
                    <h3 class="project-title">Opción 1: Ver los exámenes y resultados para todos los pacientes</h3>
                    <p class="project-description">En la pestaña exámenes, se podrá encontrar las opciones tanto para ver 
                        los exámenes pendientes, los exámenes realizados, los exámenes cancelados y los resultados para esos
                        exámenes, todo lo dicho anteriormente se puede observar en el recuadro en color verde. 
                        En el recuadro de color azul, se observan, para ese caso, todos los exámenes que ya se realizaron para
                        todos los usuarios en general.
                    </p>
                </div>
            </article>
            <article id="efect" class="project">
                <figure class="project-imageContainer">
                    <img class="project-image" src="../img/findUser.jpg"  width="500px">
                </figure>
                <div class="project-details">
                    <h3 class="project-title">Opción 2: Ver los exámenes y resultados para cada paciente</h3>
                    <p class="project-description">Lo primero que se debe hacer es buscar el paciente al cual se requiere obtener la información 
                        bien sea de exámenes pendientes, exámenes realizados ó los resultados de éstos exámenes. Para eso, en la pestaña de usuario,
                        se debe ir a 'Búsqueda de usuario por cédula' como se observa en el recuadro verde. Posterior a eso, se digita el número de 
                        identificación en el campo que se visualiza en el recuadro azul y por último se realiza la búsqueda haciendo click en el botón 'Buscar'.
                    </p>
                </div>
            </article>
            <article id="efect" class="project">
                <figure class="project-imageContainer">
                    <img class="project-image" src="../img/seeExams.jpg"  width="500px">
                </figure>
                <div class="project-details">
                    <h3 class="project-title">Vista para acceder a los exámenes y resultados por paciente</h3>
                    <p class="project-description">Una vez se realiza el paso anterior, ya tenemos la información del 
                        paciente junto con las pestañas para acceder a sus exámenes pendientes, exámenes realizados y los
                        resultados de los exámenes como se observa en los recuadros en color verde.
                    </p>
                </div>
            </article>
        </div>
    </section>

<section class="addUsers">
    <div class="container">
        <h2 class="addUsers-title" id="seeGraph"><strong>Ver estadísticas</strong> </h2>
        <h6 class="addUsers-p">El usuario con rol de <strong>administrador</strong> en la plataforma, tendrá la capacidad de poder ver la 
        gráfica general de las pruebas de ácido valproico. Dicha gráfica es un diagrama de barras donde se evidencia un promedio mesual para las 
        pruebas realizadas.
        </h6>
    </div>
        <div class="container">
            <article id="efect" class="project">
                <figure class="project-imageContainer">
                    <img class="project-image" src="../img/graph.jpg" alt="medellin" width="500px">
                </figure>
                <div class="project-details">
                    <h3 class="project-title">Gráfica general</h3>
                    <p class="project-description">Al hacer 'click' sobre la pestaña que está en el recuadro en color verde 
                        llamada 'Gráfica general', se podrá visualizar el promedio de la suma de todos los resultados de las
                        pruebas realizadas entre el número de pruebas que se hayan hecho durante ese mes, así para cada uno de
                        los meses del año.
                    </p>
                </div>
            </article>
        </div>
    </section>