<div class="col-md-6 mx-auto">

    <div class="text-center p-1 mt-0 bd-highlight">   
        <h2 class="font-weight-bold ">Recuperaci칩n de contrase침a</h>   
                  
    </div>  

    <br>       
                  
    <form action="/users/forgotPassword" class= "justify-content-center " method="POST">                         
        <div class="form-group row ">                        
            <div class="col-md-8 mx-auto" >
                <input type="email" class="form-control bg-light" name="email" placeholder="Escriba su correo electr칩nico" >
                                           
            </div>   
        </div>   
        <br> 
        <div class="col-md-5 mx-auto">                    
            <button class="btn btn-primary btn-block">Generar nueva contrase침a</button>
        </div> 
         
    </form>               
     
    
</div>
<br>

