<header class="header">
        <div class="container"> 
            <h5><strong>FUNCIONES DENTRO DE LA PLATAFORMA:</strong></h5>
            <nav class="menu">
                <ol> 
                    <li>
                        <a class="link" href="#seeAllExams">Ver exámenes y resultados</a>
                    </li>
                    <li>
                        <a class="link" href="#seeGraph">Ver estadísticas</a>
                    </li>
                </ol>
            </nav>
        </div>
</header>
<section class="hero">
        <div id="efect" class="container">
            <h1 class="hero-title">
                Manual para los <strong>Pacientes</strong> <br> dentro de la <strong>plataforma</strong> 
            </h1>
            <img class="hero-image" src="../img/patient.jpg" width="400">
        </div>
</section>

<section class="seeAllExams">
    <div class="container">
        <h2 class="delete-title" id="seeAllExams"><strong>Ver exámenes y resultados</strong> </h2>
        <h6 class="delete-p">El usuario con rol de <strong>paciente</strong> en la plataforma, tendrá la capacidad de poder visualizar
            los exámenes pendientes, exámenes cancelados, exámenes realizados y poder observar los resultados para éstos exámenes. Para poder
            visualizar lo dicho anteriormente se tendrán dos opciones que se comentan a continuación.
        </h6>
    </div>
        <div class="container">
            <article id="efect" class="project">
                <figure class="project-imageContainer">
                    <img class="project-image" src="../img/examsbyuser.jpg" width="500px">
                </figure>
                <div class="project-details">
                    <h3 class="project-title">Vista de exámenes y resultados</h3>
                    <p class="project-description">En la pestaña exámenes, se podrá encontrar las opciones tanto para ver 
                        los exámenes pendientes, los exámenes cancelados y los resultados para cada paciente, todo lo dicho anteriormente se puede observar en el recuadro en color verde. 
                        En el recuadro de color azul, se observan, para ese caso, todos los resultados para los exámenes que se realizaron en el paciente.
                    </p>
                </div>
            </article>
        </div>
    </section>

<section class="addUsers">
    <div class="container">
        <h2 class="addUsers-title" id="seeGraph"><strong>Ver estadísticas</strong> </h2>
        <h6 class="addUsers-p">El usuario con rol de <strong>paciente</strong> en la plataforma, tendrá la capacidad de poder ver la 
        gráfica general y la gráfica personal de las pruebas de ácido valproico. Para la gráfica general es un diagrama de barras donde se evidencia un promedio mesual para las 
        pruebas realizadas. Para la gráfica personal es un diagrama de puntos en el cual se observan los resultados por cada una de las pruebas que se le realizan al paciente.
        </h6>
    </div>
        <div class="container">
            <article id="efect" class="project">
                <figure class="project-imageContainer">
                    <img class="project-image" src="../img/personalgraph.jpg" alt="medellin" width="500px">
                </figure>
                <div class="project-details">
                    <h3 class="project-title">Gráfica personal</h3>
                    <p class="project-description">Al hacer 'click' sobre la pestaña que está en el recuadro en color verde 
                        llamada 'Gráfica personal', se podrá observar de una manera visual los resultados para los exámenes realizados,
                        donde se especifica el resultado de la prueba y la fecha del examen.
                    </p>
                </div>
            </article>
            <article id="efect" class="project">
                <figure class="project-imageContainer">
                    <img class="project-image" src="../img/graph.jpg" alt="medellin" width="500px">
                </figure>
                <div class="project-details">
                    <h3 class="project-title">Gráfica general</h3>
                    <p class="project-description">Al hacer 'click' sobre la pestaña que está en el recuadro en color verde 
                        llamada 'Gráfica general', se podrá visualizar el promedio de la suma de todos los resultados de las
                        pruebas realizadas entre el número de pruebas que se hayan hecho durante ese mes, así para cada uno de
                        los meses del año.
                    </p>
                </div>
            </article>
        </div>
    </section>