<header class="header">
        <div class="container"> 
            <h5><strong>FUNCIONES DENTRO DE LA PLATAFORMA:</strong></h5>
            <nav class="menu">
                <ol> 
                    <li>
                        <a class="link" href="#addExam">Ordenar exámenes</a>
                    </li>
                    <li>
                        <a class="link" href="#cancelExam">Cancelar exámenes</a>
                    </li>
                    <li>
                        <a class="link" href="#seeAllExams">Ver exámenes y resultados</a>
                    </li>
                    <li>
                        <a class="link" href="#seeGraph">Ver estadísticas</a>
                    </li>
                </ol>
            </nav>
        </div>
</header>
<section class="hero">
        <div id="efect" class="container">
            <h1 class="hero-title">
                Manual para los <strong>Médicos</strong> <br> dentro de la <strong>plataforma</strong> 
            </h1>
            <img class="hero-image" src="../img/medico.jpg" width="400">
        </div>
</section>

<section class="deleteInfo">
    <div class="container">
        <h2 class="delete-title" id="addExam"><strong>Ordenar exámenes</strong> </h2>
        <h6 class="delete-p">El usuario con rol de <strong>médico</strong> en la plataforma, tendrá la capacidad de poder ordenar 
            exámenes a los pacientes que así lo soliciten.
        </h6>
    </div>
        <div class="container">
            <article id="efect" class="project">
                <figure class="project-imageContainer">
                    <img class="project-image" src="../img/addexam.jpg" alt="medellin" width="500px">
                </figure>
                <div class="project-details">
                    <h3 class="project-title">Búsqueda de paciente para ordenar examen</h3>
                    <p class="project-description">Lo primero que se debe hacer para ordenar un exámen es buscar al paciente que lo 
                        solicita, para esto se debe hacer click en la pestaña 'Ordenar examen' que se encuentra en el recuadro verde, 
                        posterior a ello, se digita la identificación del paciente en el recuadro azul y por último se hace click en el
                        botón 'Buscar'.
                    </p>
                </div>
            </article>
            <article id="efect" class="project">
                <figure class="project-imageContainer">
                    <img class="project-image" src="../img/addexam2.jpg" alt="medellin" width="500px">
                </figure>
                <div class="project-details">
                    <h3 class="project-title">Resultado de búsqueda</h3>
                    <p class="project-description">Luego de que se hace click en el botón 'Buscar', anteriormente indicado, se muestra
                        una vista del paciente junto con sus datos principales y a su vez, un botón con el símbolo '+' como se muestra 
                        en el recuadro verde, en el cuál se debe hacer click para seleccionar la fecha del examen.
                    </p>
                </div>
            </article>
            <article id="efect" class="project">
                <figure class="project-imageContainer">
                    <img class="project-image" src="../img/selectdate.jpg" alt="medellin" width="500px">
                </figure>
                <div class="project-details">
                    <h3 class="project-title">Seleccionar Fecha</h3>
                    <p class="project-description">Una vez se hace click sobre el botón '+' ya mencionado en el paso anterior, salta una ventana
                        en la cual se debe seleccionar la fecha en la que el paciente solicita el examen. Una vez realizado esto se procede haciendo
                        click en el botón 'Continuar'.
                    </p>
                </div>
            </article>
            <article id="efect" class="project">
                <figure class="project-imageContainer">
                    <img class="project-image" src="../img/selecthour.jpg" alt="medellin" width="500px">
                </figure>
                <div class="project-details">
                    <h3 class="project-title">Seleccionar Hora</h3>
                    <p class="project-description">Luego de que se selecciona la fecha del examen y se hace click sobre el botón 'Continuar', 
                        se pasa a otra vista en la cual se debe seleccionar la hora del examen, las horas disponibles se mostrarán al hacer click 
                        sobre la pestaña llamada 'Horarios disponibles' como se observa en el recuadro azul; por su parte, en el recuadro en color 
                        verde se puede visualizar la fecha del examen anteriormente seleccionada. Finalmente se hace click sobre el botón 'Guardar' 
                        para que se agregue el examen.
                    </p>
                </div>
            </article>
            <article id="efect" class="project">
                <figure class="project-imageContainer">
                    <img class="project-image" src="../img/confirmnewexam.jpg" width="500px">
                </figure>
                <div class="project-details">
                    <h3 class="project-title">Mensaje de confirmación</h3>
                    <p class="project-description">Una vez se haga la acción de dar click sobre el botón de 
                        'Guardar' anteriormente indicado, inmediatamente se redireccionará a la vista para buscar un nuevo usuario, en la cual 
                        en la parte superior aparecerá un mensaje donde se indica que el examen ha sido ordenado satisfactoriamente
                        como se muestra en el recuadro de color azul.
                    </p>
                </div>
            </article>
        </div>
    </section>

<section class="addUsers">
    <div class="container">
        <h2 class="addUsers-title" id="cancelExam"><strong>Cancelar exámenes</strong> </h2>
        <h6 class="addUsers-p">El usuario con rol de <strong>médico</strong> en la plataforma, tendrá la capacidad de poder cancelar
            exámenes que ya se habían agendado previamente, ya sea porque así lo solicita el paciente al que se le tiene asignado el examen
            o por cualquier otro motivo.
        </h6>
    </div>
        <div class="container">
            <article id="efect" class="project">
                <figure class="project-imageContainer">
                    <img class="project-image" src="../img/cancelexam.jpg"  width="500px">
                </figure>
                <div class="project-details">
                    <h3 class="project-title">Vista de exámenes pendientes</h3>
                    <p class="project-description">Para cancelar un examen, lo primero que se debe hacer es dirigirse a la petaña 'Exámenes pendientes' como se muestra en el recuadro 
                            verde, posterior a ello se mostrarán todos los exámenes pendientes, se escoge el examen a cancelar y se hace click sobre el botón 
                            'Cancelar' que se observa en los recuadros rojos. Este proceso también se puede hacer buscando un usuario en específico y viendo sus exámenes pendientes.
                    </p>
                </div>
            </article>
            <article id="efect" class="project">
                <figure class="project-imageContainer">
                    <img class="project-image" src="../img/confirmcancel.jpg"  width="500px">
                </figure>
                <div class="project-details">
                    <h3 class="project-title">Mensaje de confirmación</h3>
                    <p class="project-description">Una vez se haga la acción de dar click sobre el botón de 
                        'Cancelar' anteriormente indicado, inmediatamente se redireccionará a la página principal de la plataforma, en la cual 
                        en la parte superior aparecerá un mensaje donde se indica que el examen ha sido cancelado satisfactoriamente
                        como se muestra en el recuadro de color azul.
                    </p>
                </div>
            </article>
            <article id="efect" class="project">
                <figure class="project-imageContainer">
                    <img class="project-image" src="../img/examscancel.jpg"  width="500px">
                </figure>
                <div class="project-details">
                    <h3 class="project-title">Vista de exámenes cancelados</h3>
                    <p class="project-description">Todos los exámenes cancelados se podrán observar haciendo click en la pestaña de 'Exámenes cancelados' 
                        como se observa en el recuadro en color verde.
                    </p>
                </div>
            </article>
        </div>
    </section>

<section class="seeAllExams">
    <div class="container">
        <h2 class="delete-title" id="seeAllExams"><strong>Ver exámenes y resultados</strong> </h2>
        <h6 class="delete-p">El usuario con rol de <strong>administrador</strong> en la plataforma, tendrá la capacidad de poder visualizar
            los exámenes pendientes, exámenes cancelados, exámenes realizados y poder observar los resultados para éstos exámenes. Para poder
            visualizar lo dicho anteriormente se tendrán dos opciones que se comentan a continuación.
        </h6>
    </div>
        <div class="container">
            <article id="efect" class="project">
                <figure class="project-imageContainer">
                    <img class="project-image" src="../img/seeAllExams.jpg" width="500px">
                </figure>
                <div class="project-details">
                    <h3 class="project-title">Opción 1: Ver los exámenes y resultados para todos los pacientes</h3>
                    <p class="project-description">En la pestaña exámenes, se podrá encontrar las opciones tanto para ver 
                        los exámenes pendientes, los exámenes realizados, los exámenes cancelados y los resultados para esos
                        exámenes, todo lo dicho anteriormente se puede observar en el recuadro en color verde. 
                        En el recuadro de color azul, se observan, para ese caso, todos los exámenes que ya se realizaron para
                        todos los usuarios en general.
                    </p>
                </div>
            </article>
            <article id="efect" class="project">
                <figure class="project-imageContainer">
                    <img class="project-image" src="../img/findUser.jpg"  width="500px">
                </figure>
                <div class="project-details">
                    <h3 class="project-title">Opción 2: Ver los exámenes y resultados para cada paciente</h3>
                    <p class="project-description">Lo primero que se debe hacer es buscar el paciente al cual se requiere obtener la información 
                        bien sea de exámenes pendientes, exámenes realizados ó los resultados de éstos exámenes. Para eso, en la pestaña de usuario,
                        se debe ir a 'Búsqueda de usuario por cédula' como se observa en el recuadro verde. Posterior a eso, se digita el número de 
                        identificación en el campo que se visualiza en el recuadro azul y por último se realiza la búsqueda haciendo click en el botón 'Buscar'.
                    </p>
                </div>
            </article>
            <article id="efect" class="project">
                <figure class="project-imageContainer">
                    <img class="project-image" src="../img/seeExams.jpg"  width="500px">
                </figure>
                <div class="project-details">
                    <h3 class="project-title">Vista para acceder a los exámenes y resultados por paciente</h3>
                    <p class="project-description">Una vez se realiza el paso anterior, ya tenemos la información del 
                        paciente junto con las pestañas para acceder a sus exámenes pendientes, exámenes realizados y los
                        resultados de los exámenes como se observa en los recuadros en color verde.
                    </p>
                </div>
            </article>
        </div>
    </section>

<section class="addUsers">
    <div class="container">
        <h2 class="addUsers-title" id="seeGraph"><strong>Ver estadísticas</strong> </h2>
        <h6 class="addUsers-p">El usuario con rol de <strong>administrador</strong> en la plataforma, tendrá la capacidad de poder ver la 
        gráfica general de las pruebas de ácido valproico. Dicha gráfica es un diagrama de barras donde se evidencia un promedio mesual para las 
        pruebas realizadas.
        </h6>
    </div>
        <div class="container">
            <article id="efect" class="project">
                <figure class="project-imageContainer">
                    <img class="project-image" src="../img/graph.jpg" alt="medellin" width="500px">
                </figure>
                <div class="project-details">
                    <h3 class="project-title">Gráfica general</h3>
                    <p class="project-description">Al hacer 'click' sobre la pestaña que está en el recuadro en color verde 
                        llamada 'Gráfica general', se podrá visualizar el promedio de la suma de todos los resultados de las
                        pruebas realizadas entre el número de pruebas que se hayan hecho durante ese mes, así para cada uno de
                        los meses del año.
                    </p>
                </div>
            </article>
        </div>
    </section>