
<div class="text-center p-0 mt-0 bd-highlight">   
    <h1 class="font-weight-bold ">Sistema de informaci칩n para pruebas de 치cido valproico</h1>   
    <h4 class="font-weight-bold ">Sistema hospitalario del Huila</h4>  
    <p>Sistema de informaci칩n para administrar las pruebas de 치cido valproico en
    los hospitales del departamento del Huila</p>            
</div>


<!--
<div>         
    <img src="../img/img5.jpeg" class="img-fluid img-thumbnail rounded mx-auto d-block" width="600" height="300">        
</div>
-->

<div class="col-md-7 mx-auto">
  <img src="../img/lab.jpg" class="rounded mx-auto d-block img-fluid " width="507" alt="...">

</div>